//Variables

//Text Sizes
$dTextSizeA: 81px;
$dTextSizeB: 20px;

//Text values
$dtFormatBold: Bold;
$dtFormatCenter: center;

//Color values
$dtColorRed: red;
$dtColorBlue: blue;
$dtColorGreen: green;
$dtColorDG: magenta;
$dtColorPR: purple;
$dtColorOR: rgb(226, 155, 24);
$dtColorTN: tan;
